.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Figures/
Literature/
News Stories/
Paper/Feedback/JM Feedback.pdf
Paper/Feedback/Jenkins - PACs and Small Donations_MR_comments.pdf
Paper/Research Proposal/
*.RDa
